---
title: "Cut-Corner Buttons, JavaScript Ferns, and a chat with Jhey Tompkins"
preheader: "We spruced up The Spark a bit, hope you like the new look :)"
image: https://res.cloudinary.com/css-tricks/image/upload/c_scale,f_auto,q_auto,w_1100/v1638545296/codepen-spark-header-2022_oih61t.png
bodyClass: bg-codepen-800
---

<extends src="src/layouts/main.html">
  <block name="template">
    <!--[if mso]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
      <tr>
        <td>
    <![endif]-->
    <table class="bg-codepen-600 w-full max-w-[600px]">
      <tr>
        <td>[Content Here]</td>
      </tr>
    </table>
    <!--[if mso]>
        </td>
      </tr>
    </table>
    <![endif]-->
  </block>
</extends>
