<td>
  <table>
    <tr>
      <td class="p-12 rounded bg-codepen-500">
        <table>
          <tr>
            <td>
              <img
                src="{{ articleImage }}"
                alt=""
                width="244"
                style="height: auto"
              />
            </td>
          </tr>
          <tr>
            <td>
              <if condition="articleTag === 'sponsor'">
                <span
                  class="block font-body tracking-[2px] mt-12 text-xs uppercase leading-[1] text-yellow-300"
                >
                  {{ articleTag }}
                </span>
              </if>
              <else>
                <span
                  class="block font-thin font-body tracking-[2px] mt-12 text-xs uppercase leading-[1]"
                >
                  {{ articleTag }}
                </span>
              </else>
              <h2 class="mt-4 mb-8 text-lg font-heading text-link">
                {{articleTitle}}
              </h2>
              <p class="mb-0 text-sm block-text">
                <content></content>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Separator between items in a single column -->
    <tr>
      <td role="separator" class="leading-48">&nbsp;</td>
    </tr>
  </table>
</td>
