<td>
  <table>
    <tr>
      <td class="p-12 rounded bg-codepen-500">
        <table>
          <tr>
            <td>
              <img
                src="{{ articleImage }}"
                alt=""
                width="244"
                style="height: auto"
              />
            </td>
          </tr>
          <tr>
            <td align="left">
              <if condition="articleTag === 'sponsor'">
                <table>
                  <tr>
                    <td class="text-yellow-300 article-tag">
                      {{ articleTag }}
                    </td>
                  </tr>
                </table>
              </if>
              <else>
                <table>
                  <tr>
                    <td class="article-tag">{{ articleTag }}</td>
                  </tr>
                </table>
              </else>
              <h2 class="mt-4 mb-8 text-lg font-heading text-link">
                {{articleTitle}}
              </h2>
              <p class="mb-0 text-sm block-text" prevent-widows>
                <content></content>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- Separator between items in a single column -->
    <tr>
      <td role="separator" class="leading-48">&nbsp;</td>
    </tr>
  </table>
</td>
